* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gray;
}

a {
    text-decoration: none;
}

header {
    padding: 20px 0;
    text-align: center;
}

.nav-list {
    text-align:  center;
    padding: 15px 0;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.nav-list-item {
    display: inline-block; 
    margin: 0 20px;
}

.main {
    width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.main-1 {
    background-color: #e6ffe9;
    width: 200px;
    height: 200px;
}

.main-2 {
    background-color: #cbffd3;
    width: 200px;
    height: 200px;
}

.main-3 {
    background-color: #aeffbd;
    width: 200px;
    height: 200px;
}

.main-4 {
    background-color: #93ffab;
    width: 200px;
    height: 200px;
}

.main-5 {
    background-color: #f3ffd8;
    width: 200px;
    height: 200px;
}

.main-6 {
    background-color: #edffbe;
    width: 200px;
    height: 200px;
}

.main-7 {
    background-color: #e9ffa5;
    width: 200px;
    height: 200px;
}

.main-8 {
    background-color: #e4ff8d;
    width: 200px;
    height: 200px;
}

.main-9 {
    background-color: #d9e5ff;
    width: 200px;
    height: 200px;
}

.main-10 {
    background-color: #bad3ff;
    width: 200px;
    height: 200px;
}

.main-11 {
    background-color: #a4c6ff;
    width: 200px;
    height: 200px;
}

.main-12 {
    background-color: #8eb8ff;
    width: 200px;
    height: 200px;
}

footer {
    height: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    line-height: 120px;
}